footer{position:fixed;
       left:0;
       bottom: 0;
       background-color:rgb(170, 164, 164);
       color:rgb(17, 0, 17);
       width: 1584px;
       height:42px ;
       text-align: center;
       font-weight: bold;
       font-family: Georgia, serif;
      font-size: 15px;
      line-height: 30px;
      opacity: 70%;
}